body {
  background-color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

nav {
  display: block;
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0px;
  height: 69px;
  width: 100%;
}

nav img {
  height: 50px;
  float: left;
  padding: 10px;
}

#navlinks {
  float: right;
  height: 100%;
  margin: auto;
}

nav a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

nav a :visited {
  color: rgb(0, 186, 186);
}

nav a li {
  display: table-cell;
  height: 100%;
  text-decoration: underline;
  vertical-align: middle;
}

.mission-container {
  background-image: url("../images/img-mission-background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
}

.our-mission {
  background-color: black;
  margin: auto; /* centers text in container horiz and vert */
  width: 100%;
}

#tea-of-the-month {
  width: 1000px;
}

.tea-images {
  display: inline-flex; /* responsive images on same line */
  max-width: 1000px;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tea-images img {
  width: 300px;
  height: 200px;
}

figcaption {
  margin-top: 10px;
}

#copyright {
  text-align: left;
}
