body {
  background-color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

nav {
  background-color: black;
  text-align: initial;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.mission-backgroun-img {
  height: 700px;
}

.tea-images img {
  width: 300px;
  height: 200px;
}

#copyright {
  text-align: left;
}
